.close {
  min-width: auto !important;
  border-color: #dc3545 !important;
  color: #dc3545 !important;
  background-color: transparent !important;
}

.clear-filter {
  color: #dc3545 !important;
  font-weight: 600;
}