<div id="orders" class="bg-white-color global-card">
  <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4">
    <div class="d-flex align-items-center gap-2">
      <h4 class="mb-0 text-capitalize">{{'dashboard.orders.orders'|translate}}</h4>
      <span class="badge badge-main d-flex justify-content-center align-items-center">
        {{ordersCount}}
      </span>
    </div>
    <div class="d-flex justify-content-end align-items-center me-auto gap-3">
      <!-- <button class="btn btn-solid-main" (click)="filter()">
        <span>{{'general.filter'|translate}}</span>
      </button> -->
      <ng-container
        *ngIf="userLoginDataType==1 || userLoginDataType==2 || userLoginDataType==3 || userLoginDataType==4|| userLoginDataType==5">
        <button class="btn btn-outline-main d-flex align-items-center gap-2 me-auto" (click)="addOrEditItem()">
          <i class="pi pi-plus-circle"></i>
          <span>{{'dashboard.createNew'|translate}}</span>
        </button>
      </ng-container>
    </div>
  </div>
  <hr>
  <app-dynamic-table-local-actions [isLoading]="loadingIndicator" [showClear]="true" [showSearch]="true"
    (searchHandler)="search($event)" [isLoadingSearch]="isLoadingSearch"
    (clearHandler)="enableSortFilter?clearTable($event):''" [tableHeaders]="tableHeaders" [tableData]="ordersList$"
    [enableDateFormate]="true" [dateFormateString]="'dd/MM/YYYY hh:mm a'" [showActions]="showActionTableColumn"
    [showEdit]="showEditAction" (editHandler)="addOrEditItem($event,'edit')" [showDetails]="true"
    (detailsHandler)="itemDetails($event)" (customSortHandler)="enableSortFilter?sortItems($event):''"
    (filterHandler)="enableSortFilter?filterItems($event):''" [results]="ordersCount" [paginatorRows]="perPage"
    [pages]="pagesCount" (paginateHandler)="onPageChange($event)" [rowsPerPageOptions]="rowsOptions"
    [enableConfirmDeleteDialog]="true" [keyDelete]="'name'" (paginateOptionsHandler)="onPaginatorOptionsChange($event)"
    (itemActionHandler)="viewLocation($event)" [isSearch]="isSearch" [arrayChildKey]="'name'"
    [enableFilterSupervisors]="true" [enableFilterDrivers]="true" [enableFilterOrderStatus]="true"
    [enableFilterPropertyType]="true" [enableFilterTanks]="true"></app-dynamic-table-local-actions>
</div>
