<div id="modal">
  <form [formGroup]="modalForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="startDate" class="mb-2 required">{{'labels.startDate'|translate}}</label>
          <div
            [class.border-red]="formControls?.startDate?.invalid && (formControls?.startDate?.dirty || formControls?.startDate?.touched)">
            <p-calendar formControlName="startDate" appendTo="body" [showIcon]="true" inputId="icon"
              placeholder="{{'labels.startDate'| translate}}" (onSelect)="selectStartDate($event)" [showTime]="true"
              [showButtonBar]="true" (onClearClick)="clearStartDate()" dateFormat="dd/mm/yy"
              hourFormat="12"></p-calendar>
          </div>
          <div class="my-2">
            <ng-container
              *ngIf="formControls?.startDate?.invalid && (formControls?.startDate?.dirty || formControls?.startDate?.touched)">
              <ng-container *ngIf="formControls?.startDate?.errors?.['required']">
                <span class="text-danger fs-8">
                  {{'validations.startDate'|translate}}
                </span>
              </ng-container>
            </ng-container>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="endDate" class="mb-2 required">{{'labels.endDate'|translate}}</label>
          <div
            [class.border-red]="formControls?.endDate?.invalid && (formControls?.endDate?.dirty || formControls?.endDate?.touched)">
            <p-calendar formControlName="endDate" appendTo="body" [minDate]="minEndDate" [showIcon]="true"
              [disabled]="!isSelectStartDate" inputId="icon" placeholder="{{'labels.endDate'| translate}}"
              [showTime]="true" [showButtonBar]="true" dateFormat="dd/mm/yy" hourFormat="12"></p-calendar>
          </div>
          <div class="my-2">
            <ng-container
              *ngIf="formControls?.endDate?.invalid && (formControls?.endDate?.dirty || formControls?.endDate?.touched)">
              <ng-container *ngIf="formControls?.endDate?.errors?.['required']">
                <span class="text-danger fs-8">
                  {{'validations.endDate'|translate}}
                </span>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label required">
            {{"labels.supervisor"|translate}}
          </label>
          <span class="p-input-icon-right select-loading d-block">
            <p-dropdown [options]="supervisorsList" formControlName="supervisor" optionLabel="name" [filter]="true"
              [virtualScroll]="true" [virtualScrollItemSize]="38" filterBy="name" appendTo="body"
              [readonly]="isLoadingSupervisors" scrollHeight="200px"
              emptyMessage="{{'general.no_result_found'|translate}}"
              [class.ng-dirty]="formControls?.supervisor?.invalid && (formControls?.supervisor?.dirty || formControls?.supervisor?.touched)"
              [showClear]="true" placeholder="{{'placeholder.supervisor'|translate}}">
            </p-dropdown>
            <ng-container *ngIf="isLoadingSupervisors">
              <i class="pi pi-spin pi-spinner"></i>
            </ng-container>
          </span>
          <div class="my-2">
            <ng-container
              *ngIf="formControls?.supervisor?.invalid && (formControls?.supervisor?.dirty || formControls?.supervisor?.touched)">
              <ng-container *ngIf="formControls?.supervisor?.errors?.['required']">
                <span class="text-danger fs-8">
                  {{"validations.required_field"|translate}}
                </span>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label required">
            {{"labels.driver"|translate}}
          </label>
          <span class="p-input-icon-right select-loading d-block">
            <p-dropdown [options]="driversList" formControlName="driver" optionLabel="name" [filter]="true"
              [virtualScroll]="true" [virtualScrollItemSize]="38" filterBy="name" appendTo="body"
              [readonly]="isLoadingDrivers" scrollHeight="200px" emptyMessage="{{'general.no_result_found'|translate}}"
              [class.ng-dirty]="formControls?.driver?.invalid && (formControls?.driver?.dirty || formControls?.driver?.touched)"
              [showClear]="true" placeholder="{{'placeholder.driver'|translate}}">
            </p-dropdown>
            <ng-container *ngIf="isLoadingDrivers">
              <i class="pi pi-spin pi-spinner"></i>
            </ng-container>
          </span>
          <div class="my-2">
            <ng-container
              *ngIf="formControls?.driver?.invalid && (formControls?.driver?.dirty || formControls?.driver?.touched)">
              <ng-container *ngIf="formControls?.driver?.errors?.['required']">
                <span class="text-danger fs-8">
                  {{"validations.required_field"|translate}}
                </span>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label for="phone" class="mb-2 required">{{'labels.mobilePhone'|translate}}</label>
          <input type="number" class="form-control" formControlName="phone" autocomplete="cc-name"
            (input)="publicService?.clearValidationErrors(formControls?.phone)"
            [class.is-invalid]="formControls?.phone?.invalid && (formControls?.phone?.dirty || formControls?.phone?.touched)"
            placeholder="{{'placeholder.mobilePhone'|translate}}">
          <div class="mt-2">
            <ng-container
              *ngIf="formControls?.phone?.invalid && (formControls?.phone?.dirty || formControls?.phone?.touched)">
              <ng-container *ngIf="formControls?.phone?.errors?.['required']">
                <span class="text-danger fs-8">
                  {{'validations.required_field'|translate}}
                </span>
              </ng-container>

              <ng-container *ngIf="formControls?.phone?.errors?.['minlength']">
                <span class="text-danger fs-8 d-block">
                  {{'validations.name_length'|translate}}
                </span>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>

    </div>

    <div class="d-flex justify-content-end gap-3 flex-wrap mt-5">
      <button type="submit" class="btn btn-solid-main d-flex align-items-center justify-content-center gap-2">
        <span>
          {{'general.save'|translate}}
        </span>
        <i class="pi pi-save"></i>
      </button>
      <button type="button" class="btn btn-outline-main d-flex align-items-center gap-2" (click)="cancel()">
        <span>
          {{'general.cancel'|translate}}
        </span>
        <i class="pi pi-times"></i>
      </button>
    </div>
  </form>
</div>