<div id="modal">
  <form [formGroup]="modalForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <div class="d-flex align-self-center justify-content-between gap-2 flex-wrap">
        <label for="isVip" class="fw-bold">{{'labels.isVip'|translate}}</label>
        <p-inputSwitch id="isVip" formControlName="isVip"></p-inputSwitch>
      </div>
    </div>
    <div class="mb-3">
      <label for="name" class="mb-2 required">{{'labels.name'|translate}}</label>
      <input type="text" class="form-control" formControlName="name"
        (input)="publicService?.clearValidationErrors(formControls?.name)"
        [class.is-invalid]="formControls?.name?.invalid && (formControls?.name?.dirty || formControls?.name?.touched)"
        placeholder="{{'placeholder.name'|translate}}">
      <div class="mt-2">
        <ng-container *ngIf="formControls?.name?.invalid && (formControls?.name?.dirty || formControls?.name?.touched)">
          <ng-container *ngIf="formControls?.name?.errors?.['required']">
            <span class="text-danger fs-8">
              {{'validations.requiredName'|translate}}
            </span>
          </ng-container>

          <ng-container *ngIf="formControls?.name?.errors?.['minlength']">
            <span class="text-danger fs-8 d-block">
              {{'validations.name_length'|translate}}
            </span>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="mb-3">
      <label for="mobileNumber" class="mb-2 required">{{'labels.mobilePhone'|translate}}</label>
      <input type="text" class="form-control" formControlName="mobileNumber" autocomplete="cc-name" [min]="0"
        (input)="publicService?.clearValidationErrors(formControls?.mobileNumber)"
        [class.is-invalid]="formControls?.mobileNumber?.invalid && (formControls?.mobileNumber?.dirty || formControls?.mobileNumber?.touched)"
        placeholder="{{'placeholder.mobilePhone'|translate}}">
      <div class="mt-2">
        <ng-container
          *ngIf="formControls?.mobileNumber?.invalid && (formControls?.mobileNumber?.dirty || formControls?.mobileNumber?.touched)">
          <ng-container *ngIf="formControls?.mobileNumber?.errors?.['required']">
            <span class="text-danger fs-8">
              {{'validations.required_field'|translate}}
            </span>
          </ng-container>

          <ng-container *ngIf="formControls?.mobileNumber?.errors?.['pattern']">
            <span class="text-danger fs-8 d-block">
              {{'validations.phone_length'|translate}}
            </span>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="d-flex justify-content-end gap-3 flex-wrap mt-5">
      <button type="submit" class="btn btn-solid-main d-flex align-items-center justify-content-center gap-2">
        <ng-container *ngIf="!isEdit;else edit">
          <span>
            {{'general.save'|translate}}
          </span>
          <i class="pi pi-save"></i>
        </ng-container>
        <ng-template #edit>
          <span>
            {{'general.edit'|translate}}
          </span>
          <i class="pi pi-pencil"></i>
        </ng-template>
      </button>
      <button type="button" class="btn btn-outline-main d-flex align-items-center gap-2" (click)="cancel()">
        <span>
          {{'general.cancel'|translate}}
        </span>
        <i class="pi pi-times"></i>
      </button>
    </div>
  </form>
</div>