<div id="modal">
  <div class="mb-4">
    <div class="mb-3 d-flex align-items-center justify-content-between gap-2 flex-wrap">
      <label for="active" class="fw-bold fs-5-1">{{'labels.name'|translate}}</label>
      <p class="fs-5-1">{{modalData?.name}}</p>
    </div>
    <div class="mb-3 d-flex align-items-center justify-content-between gap-2 flex-wrap">
      <label for="active" class="fw-bold fs-5-1">{{'labels.address'|translate}}</label>
      <p class="fs-5-1">{{modalData?.address||'--'}}</p>
    </div>
    <div class="mb-3 d-flex align-items-center justify-content-between gap-2 flex-wrap">
      <label for="active" class="fw-bold fs-5-1">{{'labels.location'|translate}}</label>
      <p class="fs-5-1">{{modalData?.location||'--'}}</p>
    </div>
    <div class="mb-3 d-flex align-items-center justify-content-between gap-2 flex-wrap">
      <label for="active" class="fw-bold fs-5-1">{{'labels.locationLink'|translate}}</label>
      <p class="fs-5-1">{{modalData?.locationLink||'--'}}</p>
    </div>
    <div class="mb-3 d-flex align-items-center justify-content-between gap-2 flex-wrap">
      <label for="active" class="fw-bold fs-5-1">{{'labels.mobilePhone'|translate}}</label>
      <p class="fs-5-1">{{modalData?.mobileNumber}}</p>
    </div>
  </div>
  <div class="d-flex justify-content-end gap-3 flex-wrap mt-5">
    <button type="submit" class="btn btn-solid-main d-flex align-items-center justify-content-center gap-2"
      (click)="addOrEditItem(id)">
      <span>
        {{'general.edit'|translate}}
      </span>
      <i class="pi pi-pencil"></i>
    </button>
    <button type="button" class="btn btn-outline-main" (click)="cancel()">
      <span>
        {{'general.cancel'|translate}}
      </span>
    </button>
  </div>
</div>