.item-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.3px;
}

.status-qualified,
.status-available,
.status-Available,
.status-completed {
  color: #50cd89;
  background-color: #e8fff3;
}
.status-pending,
.status-far {
  color: #fdc604;
  background-color: #fff8df;
}
.status-unqualified,
.status-busy,
.status-Busy,
.status-cancelled {
  color: #f1416c;
  background-color: #fff5f8;
}
.status-new,
.status-assignedToDriver,
.status-Assigned_To_Driver {
  color: #009ef7;
  background-color: #f1faff;
}
.status-renewal {
  color: #743aef;
  background-color: #f1eef9;
}
.p-dropdown-items {
  .item-badge {
    display: flex !important;
    justify-content: center !important;
  }
}
